@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

html {
  scroll-behavior: smooth;
}

/* Font integration */
.radix-themes {
  --default-font-family: var(--font-josefin);
  --heading-font-family: var(--font-josefin);
  --code-font-family: var(--font-josefin);
  --strong-font-family: var(--font-josefin);
  --em-font-family: var(--font-josefin);
  --quote-font-family: var(--font-josefin);
  --cursor-button: pointer;
  --transition-property: all;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 150ms;
}


/* Theme variables */
:root {
  --background: 224 25% 17%;
  --foreground: 213 31% 91%;
  --text: 0 0% 98%;
  --accent: 263 67% 55%;

  /* Responsive breakpoints */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
}

.light {
  --background: 120 20% 95%;
  --foreground: 222.2 47.4% 11.2%;
  --text: 240 10% 3.9%;
  --accent: 263 67% 55%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

/* Container padding adjustments */
.container {
  @apply px-4 sm:px-6 lg:px-8;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}